.passion {
    height: 490px;
    padding-top: 100px;
    .item-p {
        padding-top: 50px;
        .sous-item {
            margin-top: 55px;
        }
        .paragraphe {
                margin-top: 30px;
                margin-bottom: 50px;
            }
    }
}