.team {
    padding-top: 90px;
    padding-bottom: 105px;
    .sous-item {
        letter-spacing: .150em;
        padding-top: 45px;
    }
    .paragraphe {
        padding-top: 30px;
    }
    .carousel-indicators {
        bottom: -70px;
    }
}